Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit-with-install, dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

bandit-with-install:
  name: bandit
  entry: bash -c 'command -v bandit >/dev/null 2>&1 || { echo "Installing bandit..."; pip install bandit pbr; }; bandit -r flatpak/clipboard-bridge -f json --severity-level medium --confidence-level medium'
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet-format
  entry: bash -c 'command -v dotnet >/dev/null 2>&1 || { echo "dotnet not found, skipping"; exit 0; }; cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell-with-install:
  name: cspell
  entry: bash -c 'if [ -x "./infra/server/node_modules/.bin/cspell" ]; then ./infra/server/node_modules/.bin/cspell --no-progress "$@"; else command -v cspell >/dev/null 2>&1 || { echo "Installing global cspell..."; npm install -g cspell; }; cspell --no-progress "$@"'
  language: system

eslint-security:
  name: ESLint Security Analysis
  entry: bash -c 'cd infra/server && npm list eslint-plugin-security >/dev/null 2>&1 || npm install --no-save eslint@8 eslint-plugin-security; npx eslint --ext .js --config .eslintrc-security.json .'
  language: system
  pass_filenames: false

semgrep-security:
  name: Semgrep Security Analysis (CodeQL Alternative)
  ...

feat(chat): natural-language model switching; weak-model ergonomics; UI polish
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/styles/main.css
Due: semgrep-security

fix(mcp): agent self-recovery loop for blocked actions; surface real tool errors
  infra/server/src/chat.ts
  infra/server/src/server.ts
  src/MCP/Tools/BatchOverlayTool.cs
  src/MCP/Tools/DrawOverlayTool.cs
  src/MCP/Tools/GetClipboardTool.cs
  src/MCP/Tools/ReAnchorElementTool.cs
  src/MCP/Tools/RemoveOverlayTool.cs
  src/MCP/Tools/SetClipboardTool.cs
  src/MCP/Tools/SetDisplayActorTool.cs
  src/MCP/Tools/SetScreenshotFrequencyTool.cs
  src/MCP/Tools/SubscribeEventsTool.cs
  src/MCP/Tools/TakeScreenshotTool.cs
  src/MCP/Tools/TemplateOverlayTool.cs
  src/MCP/Tools/UnsubscribeEventsTool.cs
  src/Services/DisplayActorGate.cs
  src/Services/ModeManager.cs
Due: dotnet-format, semgrep-security

feat(render): overlay render chain + Qwen hermes salvage; persistent annotations
  docs/REQUIREMENTS.md
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/styles/main.css
  src/MCP/Tools/TakeScreenshotTool.cs
  src/MCP/Tools/TemplateOverlayTool.cs
  src/Services/ModeManager.cs
Due: dotnet-format, cspell-with-install, semgrep-security

feat(admin): adaptive per-identity rate limiting; docked chat panel; fit-to-window
  .github/workflows/pr.yml
  docs/REQUIREMENTS.md
  infra/scripts/pixel-check.mjs
  infra/server/package-lock.json
  infra/server/package.json
  infra/server/src/adaptive-limits.ts
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
  scripts/local_verify.sh
  src/MCP/Tools/TemplateOverlayTool.cs
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

feat(vision): assistant can see the desktop; model-tuned mirror cadence
  docs/REQUIREMENTS.md
  infra/scripts/mirror-debug.mjs
  infra/scripts/vision-check.mjs
  infra/server/src/adaptive-limits.ts
  infra/server/src/chat.ts
  infra/server/src/screen-mirror.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/components/ScreenMirror.ts
  src/MCP/Tools/DrawOverlayTool.cs
  src/MCP/Tools/TemplateOverlayTool.cs
  src/Program.cs
  src/Services/DisplayStateService.cs
Due: dotnet-format, cspell-with-install, semgrep-security

feat(chat): markdown rendering, shift+enter newlines, invisible tool plumbing
  infra/scripts/goals-check.mjs
  infra/server/src/server.ts
  infra/web/package-lock.json
  infra/web/package.json
  infra/web/src/components/ChatPanel.ts
  infra/web/src/components/GuacamoleClient.ts
  infra/web/src/guacamole-common-js.d.ts
  infra/web/src/markdown.ts
  infra/web/src/styles/main.css
Due: semgrep-security

fix(chat): post-review polish for markdown bubble + working pill
  infra/web/src/components/ChatPanel.ts
  infra/web/src/styles/main.css
Due: semgrep-security

fix(core): assistant can see its own overlays; inventory + cleanup tools; budget reform
  .gitignore
  infra/scripts/goals-check.mjs
  infra/scripts/mirror-debug.mjs
  infra/scripts/package-lock.json
  infra/scripts/package.json
  infra/scripts/phase25-check.mjs
  infra/scripts/pixel-check.mjs
  infra/scripts/vision-check.mjs
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ScreenMirror.ts
  scripts/local_verify.sh
  src/MCP/Tools/OverlaysQueryTool.cs
  src/Services/DisplayActorGate.cs
  src/Services/ModeManager.cs
Due: dotnet-format, check-build-scripts-executable, semgrep-security

fix(core): three production bugs found by the VLA bench on night one
  infra/scripts/bench/b0-final.mjs
  infra/scripts/bench/b0-welcome.mjs
  infra/scripts/bench/bench-lib.mjs
  infra/scripts/bench/frame.mjs
  infra/scripts/bench/frame2.mjs
  infra/scripts/bench/isolate.mjs
  infra/scripts/bench/probe-state.mjs
  infra/scripts/bench/step.mjs
  infra/scripts/bench/watch.mjs
  infra/scripts/bench/watchdbg.mjs
  infra/server/src/chat.ts
  infra/server/src/screen-mirror.ts
  infra/server/src/server.ts
  infra/web/src/components/ScreenMirror.ts
  src/Services/McpTrace.cs
Due: dotnet-format, semgrep-security

feat(gate): see-before-show preview approval, per-user grounding preference
  infra/scripts/bench/b0-gated.mjs
  infra/scripts/bench/b0g-iter.mjs
  infra/scripts/bench/bench-lib.mjs
  infra/scripts/bench/gate-test.mjs
  infra/server/src/chat.ts
  infra/server/src/screen-mirror.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/index.html
  scripts/local_verify.sh
Due: check-build-scripts-executable, semgrep-security

Phase 3.5: per-user marking limits + turn economy (OTEL-driven)
  infra/Dockerfile.server
  infra/scripts/bench/b1-limits.mjs
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
  src/MCP/Tools/OverlaysQueryTool.cs
  src/Services/OverlayWebSocketHub.cs
Due: dotnet-format, semgrep-security

fix(core): page /mcp proxy 408, shell-spawn log flood, advisory OCR timeout
  .githooks/pre-commit
  infra/scripts/bench/mcp-proxy.mjs
  infra/server/src/server.ts
  src/Services/InputMonitorService.cs
Due: dotnet-format, semgrep-security

Phase 4: headless take_screenshot, focus-sleep, extensions; CI (Firefox e2e + OCR)
  .github/workflows/ocr-review.yml
  .github/workflows/playwright-tests.yml
  infra/compose.yml
  infra/scripts/bench/b1-limits.mjs
  infra/scripts/bench/b2-landmarks.mjs
  infra/scripts/bench/b3-pony.mjs
  infra/scripts/bench/bench-lib.mjs
  infra/scripts/bench/gate-test.mjs
  infra/scripts/bench/mcp-proxy.mjs
  infra/scripts/ci-suite.mjs
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/components/ScreenMirror.ts
  src/MCP/Tools/TakeScreenshotTool.cs
  src/Services/KasmVNCService.cs
  src/Services/ScreenCaptureService.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, semgrep-security

Phase 5: interaction quality (feedback 2026-08-28)
  docs/REQUIREMENTS.md
  docs/ROADMAP.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/scripts/bench/b2-landmarks.mjs
  infra/scripts/bench/b4-navigation.mjs
  infra/server/src/chat.ts
  infra/server/src/screen-mirror.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/components/ScreenMirror.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
  src/Services/OverlayWebSocketHub.cs
Due: bandit-with-install, dotnet-format, cspell-with-install, semgrep-security

Phase 6: compaction at scale, attention hygiene, auto-continue
  docs/REQUIREMENTS.md
  docs/ROADMAP.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/scripts/bench/b4-navigation.mjs
  infra/scripts/bench/b5-compaction.mjs
  infra/server/src/chat.ts
  infra/server/src/screen-mirror.ts
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/components/ScreenMirror.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
Due: bandit-with-install, cspell-with-install, semgrep-security

docs: multi-agent architecture plan (MCP + A2A, concealed advocate agent design)
  docs/PLANS/multi-agent-architecture.md
  docs/ROADMAP.md
Due: cspell-with-install

Path conditions:
  bandit-with-install: any of: \.py$
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell-with-install: any of: \.md$
  eslint-security: any of: \.js$
  semgrep-security: any of: \.(js|ts|cs)$
