Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit-with-install, dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

bandit-with-install:
  name: bandit
  entry: bash -c 'command -v bandit >/dev/null 2>&1 || { echo "Installing bandit..."; pip install bandit pbr; }; bandit -r flatpak/clipboard-bridge -f json --severity-level medium --confidence-level medium'
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet-format
  entry: bash -c 'command -v dotnet >/dev/null 2>&1 || { echo "dotnet not found, skipping"; exit 0; }; cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell-with-install:
  name: cspell
  entry: bash -c 'if [ -x "./infra/server/node_modules/.bin/cspell" ]; then ./infra/server/node_modules/.bin/cspell --no-progress "$@"; else command -v cspell >/dev/null 2>&1 || { echo "Installing global cspell..."; npm install -g cspell; }; cspell --no-progress "$@"'
  language: system

eslint-security:
  name: ESLint Security Analysis
  entry: bash -c 'cd infra/server && npm list eslint-plugin-security >/dev/null 2>&1 || npm install --no-save eslint@8 eslint-plugin-security; npx eslint --ext .js --config .eslintrc-security.json .'
  language: system
  pass_filenames: false

semgrep-security:
  name: Semgrep Security Analysis (CodeQL Alternative)
  ...

License: switch to GPL-3.0-or-later and update README + crate metadata\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  README.md
  rust-clipboard-bridge/Cargo.toml
Due: cspell-with-install

Rust Clipboard Bridge + GPL-3.0-or-later + Auto-release with pinned hash (#80)
  .github/workflows/flatpak-clipboard-bridge.yml
  README.md
  rust-clipboard-bridge/Cargo.toml
Due: check-workflow-syntax, check-npm-cache-config, cspell-with-install

repo: reorganize structure
  apps/clipboard-bridge-rust/Cargo.toml
  apps/clipboard-bridge-rust/src/main.rs
  apps/mcp-server-rust/Cargo.lock
  apps/mcp-server-rust/Cargo.toml
  apps/mcp-server-rust/src/main.rs
  legacy/clipboard-bridge-python/README.md
  legacy/clipboard-bridge-python/build.sh
  legacy/clipboard-bridge-python/clipboard-bridge-gui.py
  legacy/clipboard-bridge-python/clipboard-bridge.py
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.desktop
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.svg
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.yml
  legacy/gtk4-proof-of-concept/ClickThroughOverlay.cs
  legacy/gtk4-proof-of-concept/Gtk4ProofOfConcept.csproj
  legacy/gtk4-proof-of-concept/SimpleProgram.cs
  rust-mcp/src/main.rs
Due: bandit-with-install, dotnet-format, cspell-with-install, semgrep-security

docs/infra/tests/scripts: align paths and docs with apps/* reorg; clarify Rust clipboard bridge; rename rust-mcp service in compose\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  docs/CLIPBOARD_BRIDGE.md
  infra/Dockerfile.rust-mcp
  infra/compose.yml
  scripts/release-rust-clipboard-bridge.sh
  scripts/vm-setup/install-clipboard-bridge.sh
  tests/compare_servers.py
Due: bandit-with-install, check-build-scripts-executable, cspell-with-install

Reorganize repo (apps/, legacy/), update docs/infra/tests for Rust paths (#81)
  apps/clipboard-bridge-rust/Cargo.toml
  apps/clipboard-bridge-rust/src/main.rs
  apps/mcp-server-rust/Cargo.lock
  apps/mcp-server-rust/Cargo.toml
  apps/mcp-server-rust/src/main.rs
  docs/CLIPBOARD_BRIDGE.md
  infra/Dockerfile.rust-mcp
  infra/compose.yml
  legacy/clipboard-bridge-python/README.md
  legacy/clipboard-bridge-python/build.sh
  legacy/clipboard-bridge-python/clipboard-bridge-gui.py
  legacy/clipboard-bridge-python/clipboard-bridge.py
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.desktop
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.svg
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.yml
  legacy/gtk4-proof-of-concept/ClickThroughOverlay.cs
  legacy/gtk4-proof-of-concept/Gtk4ProofOfConcept.csproj
  legacy/gtk4-proof-of-concept/SimpleProgram.cs
  rust-mcp/src/main.rs
  scripts/release-rust-clipboard-bridge.sh
  scripts/vm-setup/install-clipboard-bridge.sh
  tests/compare_servers.py
Due: bandit-with-install, dotnet-format, check-build-scripts-executable, cspell-with-install, semgrep-security

chore: remove Dependabot, add Renovate; lay TS foundation; add container-vs-app guidance
  .github/dependabot.yml
  .gitignore
  docs/CONTAINER_VS_APPLICATION.md
  infra/server/package.json
  infra/server/src/security-config.ts
  infra/server/tsconfig.json
  infra/web/package.json
  infra/web/tsconfig.json
  infra/web/webpack.config.ts
  renovate.json
Due: cspell-with-install, semgrep-security

retire(rust-mcp): remove redundant Rust MCP server; consolidate on C#
  .github/workflows/container-registry.yml
  apps/mcp-server-rust/Cargo.lock
  apps/mcp-server-rust/Cargo.toml
  apps/mcp-server-rust/src/main.rs
  docs/CONTAINER_VS_APPLICATION.md
  infra/Dockerfile.rust-mcp
  infra/compose.yml
Due: check-workflow-syntax, check-npm-cache-config, cspell-with-install

feat(infra/server): migrate management server from JS to TypeScript (ESM)
  infra/server/connection-manager.js
  infra/server/package.json
  infra/server/security-config.js
  infra/server/src/connection-manager.ts
  infra/server/src/server.ts
  infra/server/tsconfig.json
Due: eslint-security, semgrep-security

fix(docker): build TypeScript server in Dockerfile.web; run dist/server.js
  infra/Dockerfile.web
Due: none

feat(infra/web): TS entry point + MCPConfigManager; webpack.config.ts
  infra/web/package.json
  infra/web/src/components/MCPConfigManager.js
  infra/web/src/components/MCPConfigManager.ts
  infra/web/src/guacamole-common-js.d.ts
  infra/web/src/index.ts
  infra/web/tsconfig.json
  infra/web/webpack.config.js
  infra/web/webpack.config.ts
Due: eslint-security, semgrep-security

ci: add gitleaks pre-commit hook + OpenGrep SAST workflow; cspell/lint fixes
  .cspell.json
  .github/workflows/sast-opengrep.yml
  .pre-commit-config.yaml
  infra/server/.eslintrc-security.json
Due: check-workflow-syntax, check-npm-cache-config

Renovate, TS migration, Rust MCP retirement, container-vs-app guidance, SAST/gitleaks (#90)
  .cspell.json
  .github/dependabot.yml
  .github/workflows/container-registry.yml
  .github/workflows/sast-opengrep.yml
  .gitignore
  .pre-commit-config.yaml
  apps/mcp-server-rust/Cargo.lock
  apps/mcp-server-rust/Cargo.toml
  apps/mcp-server-rust/src/main.rs
  docs/CONTAINER_VS_APPLICATION.md
  infra/Dockerfile.rust-mcp
  infra/Dockerfile.web
  infra/compose.yml
  infra/server/.eslintrc-security.json
  infra/server/connection-manager.js
  infra/server/package.json
  infra/server/src/connection-manager.ts
  infra/server/src/security-config.ts
  infra/server/src/server.ts
  infra/server/tsconfig.json
  infra/web/package.json
  infra/web/src/components/MCPConfigManager.js
  infra/web/src/components/MCPConfigManager.ts
  infra/web/src/guacamole-common-js.d.ts
  infra/web/src/index.ts
  infra/web/tsconfig.json
  infra/web/webpack.config.js
  infra/web/webpack.config.ts
  renovate.json
Due: check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

feat: OIDC login flow, SurrealDB store, GUI-first config, Appium CI, Wazuh integration
  .github/workflows/appium-tests.yml
  AGENTS.md
  CHANGELOG.md
  DESIGN.md
  MAINTAINERS.md
  SPECIFICATION.md
  docs/WAZUH_INTEGRATION.md
  infra/.env.example
  infra/Caddyfile
  infra/compose.yml
  infra/server/package.json
  infra/server/src/auth.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/surrealdb/README.md
  infra/surrealdb/schema/001_init.surql
  infra/wazuh/filebeat-overlay-companion.yml
  infra/wazuh/rules/account_deleted.yml
  infra/wazuh/rules/config_changed.yml
  infra/wazuh/rules/failed_login_burst.yml
  infra/web/src/app.js
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
  infra/web/src/styles/main.css
  src/OverlayCompanion.csproj
  src/Program.cs
  src/Services/SurrealStore.cs
  tests/appium-csharp/AppiumWebTestBase.cs
  tests/appium-csharp/LoginFlowTests.cs
  tests/appium-csharp/OverlayCompanion.AppiumTests.csproj
  tests/appium-csharp/README.md
  tests/appium-csharp/WebAppiumDriver.cs
  tests/appium-csharp/WebSmokeTests.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

fix: address pre-commit CI failures (cspell, markdownlint, detect-secrets, perms)
  .cspell.json
  .github/workflows/appium-tests.yml
  .markdownlint.json
  SPECIFICATION.md
  infra/server/src/server.ts
  scripts/vm-setup.sh
  tests/appium-csharp/LoginFlowTests.cs
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

fix: add trailing newline to .cspell.json (pre-commit end-of-file-fixer)
  .cspell.json
Due: none

fix(ci): repair broken pre-commit scanner gates found while working (§7)
  .github/workflows/flatpak-clipboard-bridge.yml
  .pre-commit-config.yaml
Due: check-workflow-syntax, check-npm-cache-config

fix(ci): correct gitleaks release asset name and Chrome gpg TTY in CI
  .github/workflows/appium-tests.yml
  .pre-commit-config.yaml
Due: check-workflow-syntax, check-npm-cache-config

fix(ci): normalize trailing newlines and use npm install in appium CI
  .github/workflows/appium-tests.yml
  .gitignore
  src/Services/SurrealStore.cs
  tests/appium-csharp/WebAppiumDriver.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, semgrep-security

fix(appium): correct chromium driver capabilities; markdownlint autofix
  docs/CONTAINER_VS_APPLICATION.md
  tests/appium-csharp/AppiumWebTestBase.cs
Due: dotnet-format, cspell-with-install, semgrep-security

fix(appium): use AddAdditionalAppiumOption for goog:chromeOptions
  tests/appium-csharp/AppiumWebTestBase.cs
Due: dotnet-format, semgrep-security

fix(appium): skip gracefully when Appium can't provision Chrome in CI
  .github/workflows/appium-tests.yml
  tests/appium-csharp/AppiumWebTestBase.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, semgrep-security

fix(security): address CodeQL CSRF + rate-limit findings (§7)
  infra/server/src/server.ts
  infra/web/src/auth.ts
  tests/appium-csharp/LoginFlowTests.cs
Due: dotnet-format, semgrep-security

fix(security): global CSRF middleware for state-changing routes (§7, CodeQL)
  infra/server/src/server.ts
Due: semgrep-security

fix(security): suppress CodeQL false-positive CSRF alert on GET routes
  infra/server/src/server.ts
Due: semgrep-security

feat: OIDC login flow, SurrealDB store, GUI-first config, Appium CI, Wazuh integration (#92)
  .cspell.json
  .github/workflows/appium-tests.yml
  .github/workflows/flatpak-clipboard-bridge.yml
  .gitignore
  .markdownlint.json
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  DESIGN.md
  MAINTAINERS.md
  SPECIFICATION.md
  docs/CONTAINER_VS_APPLICATION.md
  docs/WAZUH_INTEGRATION.md
  infra/.env.example
  infra/Caddyfile
  infra/compose.yml
  infra/server/package.json
  infra/server/src/auth.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/surrealdb/README.md
  infra/surrealdb/schema/001_init.surql
  infra/wazuh/filebeat-overlay-companion.yml
  infra/wazuh/rules/account_deleted.yml
  infra/wazuh/rules/config_changed.yml
  infra/wazuh/rules/failed_login_burst.yml
  infra/web/src/app.js
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
  infra/web/src/styles/main.css
  scripts/vm-setup.sh
  src/OverlayCompanion.csproj
  src/Program.cs
  src/Services/SurrealStore.cs
  tests/appium-csharp/AppiumWebTestBase.cs
  tests/appium-csharp/LoginFlowTests.cs
  tests/appium-csharp/OverlayCompanion.AppiumTests.csproj
  tests/appium-csharp/README.md
  tests/appium-csharp/WebAppiumDriver.cs
  tests/appium-csharp/WebSmokeTests.cs
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

fix(auth): repair SurrealDB store + harden session secrets; Appium runner strategy
  .cspell.json
  .github/workflows/appium-tests.yml
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  infra/compose.yml
  infra/server/src/auth.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/surrealdb/schema/001_init.surql
  tests/appium-csharp/AppiumWebTestBase.cs
  tests/appium-csharp/README.md
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

chore: TS web migration, CodeQL + scorecard + markdown CI fixes
  .cspell.json
  .github/workflows/cleanup-containers.yml
  .github/workflows/container-registry.yml
  CHANGELOG.md
  docs/SPECIFICATION.md
  infra/server/src/server.ts
  infra/web/src/app.js
  infra/web/src/app.ts
  infra/web/src/components/GuacamoleClient.ts
  infra/web/src/components/KasmVNCClient.js
  infra/web/src/components/KasmVNCClient.ts
  infra/web/src/components/OverlaySystem.js
  infra/web/src/components/OverlaySystem.ts
  infra/web/src/components/StatusMonitor.js
  infra/web/src/components/StatusMonitor.ts
  infra/web/tsconfig.json
  legacy/release/containers/web/src/index.js
  legacy/vendor/packages-microsoft-prod.deb
  renovate.json
  scripts/lint-markdown.sh
  src/packages-microsoft-prod.deb
Due: check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

feat: server-persisted VM connections with Argon2id + Appium E2E
  .github/workflows/appium-tests.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  DESIGN.md
  infra/server/package.json
  infra/server/src/auth.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/surrealdb/schema/001_init.surql
  infra/web/src/app.ts
  infra/web/src/connections.ts
  tests/appium-csharp/ConnectionFlowTests.cs
  tests/appium-csharp/README.md
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

fix: make Appium E2E runnable locally + HTTP session cookie
  .cspell.json
  .github/workflows/appium-tests.yml
  CHANGELOG.md
  infra/compose.yml
  infra/server/src/auth.ts
  infra/web/src/index.html
  tests/appium-csharp/AppiumWebTestBase.cs
  tests/appium-csharp/ConnectionFlowTests.cs
  tests/appium-csharp/LoginFlowTests.cs
  tests/appium-csharp/README.md
  tests/appium-csharp/WebSmokeTests.cs
Due: dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

feat: HTTPS & Certificates admin GUI + ACME, Caddy & Traefik terminators
  .cspell.json
  .gitignore
  CHANGELOG.md
  DESIGN.md
  infra/compose.yml
  infra/server/src/server.ts
  infra/server/src/tls-manager.ts
  infra/traefik-static.yml
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
  tests/appium-csharp/AppiumWebTestBase.cs
  tests/appium-csharp/AssemblyInit.cs
  tests/appium-csharp/ConnectionFlowTests.cs
  tests/appium-csharp/README.md
  tests/appium-csharp/TlsSettingsTests.cs
Due: dotnet-format, cspell-with-install, semgrep-security

docs: add project ontology with rdflib pre-commit hook
  .cspell.json
  .pre-commit-config.yaml
  AGENTS.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  scripts/ontology-validate-sort.sh
Due: bandit-with-install, check-build-scripts-executable, cspell-with-install

docs: reference Better Auth agent skill in project ontology
  .gitignore
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
Due: bandit-with-install

feat: replace hand-rolled auth with Better Auth
  .github/workflows/playwright-tests.yml
  AGENTS.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/.env.example
  infra/compose.yml
  infra/server/package.json
  infra/server/src/auth.ts
  infra/server/src/better-auth.ts
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
  tests/playwright-csharp/AssemblyInit.cs
  tests/playwright-csharp/LoginFlowTests.cs
  tests/playwright-csharp/PlaywrightWebTestBase.cs
  tests/playwright-csharp/TlsSettingsTests.cs
Due: bandit-with-install, dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

fix: address OpenCodeReview findings on Better Auth migration
  infra/server/src/better-auth.ts
  tests/playwright-csharp/TlsSettingsTests.cs
Due: dotnet-format, semgrep-security

feat: wire optional passkeys (WebAuthn) + TOTP via Better Auth plugins
  .github/workflows/playwright-tests.yml
  CHANGELOG.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/.env.example
  infra/compose.yml
  infra/server/package.json
  infra/server/src/auth.ts
  infra/server/src/better-auth.ts
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
Due: bandit-with-install, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

fix: address OpenCodeReview findings on passkey/TOTP wiring
  infra/server/package.json
  infra/server/src/better-auth.ts
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
Due: semgrep-security

test: cover passkey/TOTP in Playwright auth suite
  tests/playwright-csharp/LoginFlowTests.cs
  tests/playwright-csharp/PlaywrightWebTestBase.cs
  tests/playwright-csharp/Totp.cs
  tests/playwright-csharp/TwoFactorFlowTests.cs
Due: dotnet-format, semgrep-security

Path conditions:
  bandit-with-install: any of: \.py$
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell-with-install: any of: \.md$
  eslint-security: any of: \.js$
  semgrep-security: any of: \.(js|ts|cs)$
