Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit-with-install, dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

bandit-with-install:
  name: bandit
  entry: bash -c 'command -v bandit >/dev/null 2>&1 || { echo "Installing bandit..."; pip install bandit pbr; }; bandit -r flatpak/clipboard-bridge -f json --severity-level medium --confidence-level medium'
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet-format
  entry: bash -c 'command -v dotnet >/dev/null 2>&1 || { echo "dotnet not found, skipping"; exit 0; }; cd src && dotnet format --verbosity minimal'
  language: system
  pass_filenames: false

check-build-scripts-executable:
  name: Check build scripts are executable
  entry: bash -c 'for script in scripts/*.sh; do [ -x "$script" ] || { echo "‚ùå $script is not executable. Run chmod +x $script"; exit 1; }; done'
  language: system
  pass_filenames: false

check-workflow-syntax:
  name: Check GitHub Actions workflow syntax
  entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

check-npm-cache-config:
  name: Check for npm cache configuration issues
  entry: bash -c 'if grep -r "cache.*npm" .github/workflows/ && ! find . -name "package*.json" -type f | grep -q .; then echo "‚ùå npm cache configured but no package.json found"; exit 1; fi'
  language: system
  pass_filenames: false

cspell-with-install:
  name: cspell
  entry: bash -c 'if [ -x "./infra/server/node_modules/.bin/cspell" ]; then ./infra/server/node_modules/.bin/cspell --no-progress "$@"; else command -v cspell >/dev/null 2>&1 || { echo "Installing global cspell..."; npm install -g cspell; }; cspell --no-progress "$@"'
  language: system

eslint-security:
  name: ESLint Security Analysis
  entry: bash -c 'cd infra/server && npm list eslint-plugin-security >/dev/null 2>&1 || npm install --no-save eslint@8 eslint-plugin-security; npx eslint --ext .js --config .eslintrc-security.json .'
  language: system
  pass_filenames: false

semgrep-security:
  name: Semgrep Security Analysis (CodeQL Alternative)
  ...

feat: data-access layer store boundary (surreal-store.ts) + unify Better Auth DB config
  .cspell.json
  CHANGELOG.md
  DESIGN.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/server/src/better-auth.ts
Due: bandit-with-install, cspell-with-install, semgrep-security

feat: OpenFGA fine-grained authorization (D-017) + solo-container podman/Helm packaging
  .cspell.json
  .pre-commit-config.yaml
  CHANGELOG.md
  DESIGN.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/.env.example
  infra/Caddyfile.minimal
  infra/Dockerfile.server
  infra/compose.minimal.yml
  infra/compose.yml
  infra/helm/overlay-companion/Chart.yaml
  infra/helm/overlay-companion/README.md
  infra/helm/overlay-companion/templates/NOTES.txt
  infra/helm/overlay-companion/templates/_helpers.tpl
  infra/helm/overlay-companion/templates/configmap.yaml
  infra/helm/overlay-companion/templates/deployment.yaml
  infra/helm/overlay-companion/templates/ingress.yaml
  infra/helm/overlay-companion/templates/openfga-service.yaml
  infra/helm/overlay-companion/templates/openfga.yaml
  infra/helm/overlay-companion/templates/secret.yaml
  infra/helm/overlay-companion/templates/service.yaml
  infra/helm/overlay-companion/templates/surrealdb-service.yaml
  infra/helm/overlay-companion/templates/surrealdb.yaml
  infra/helm/overlay-companion/values.yaml
  infra/server/package.json
  infra/server/src/openfga-store.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/server/tests/openfga-store.test.ts
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
Due: bandit-with-install, cspell-with-install, semgrep-security

feat: modern themed login + light/dark theme system (D-018)
  .cspell.json
  CHANGELOG.md
  DESIGN.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/web/src/app.ts
  infra/web/src/assets.d.ts
  infra/web/src/assets/bg-dark.svg
  infra/web/src/assets/bg-light.svg
  infra/web/src/auth-ui.ts
  infra/web/src/index.html
  infra/web/src/index.ts
  infra/web/src/styles/main.css
  infra/web/src/styles/theme.css
  infra/web/src/theme.ts
Due: bandit-with-install, cspell-with-install, semgrep-security

fix: correct origin/CSRF hostname compare + retry SurrealDB connect
  .github/workflows/playwright-tests.yml
  infra/server/src/better-auth.ts
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/index.html
Due: check-workflow-syntax, check-npm-cache-config, semgrep-security

feat: OpenTelemetry tracing + themed main app + descriptive errors
  infra/server/package.json
  infra/server/src/server.ts
  infra/server/src/tracing.ts
  infra/web/src/app.ts
  infra/web/src/connections.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
Due: semgrep-security

docs: record assistant-ui + Vercel AI SDK (D-019), per-view URLs (D-020); OTel E2E future work (P-007)
  CHANGELOG.md
  DESIGN.md
  SPECIFICATION.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/server/src/origin.ts
  infra/server/src/server.ts
  infra/server/tests/origin.test.ts
Due: bandit-with-install, cspell-with-install, semgrep-security

feat: in-app KasmVNC proxy + operator allowlist; track package-lock.json
  .gitignore
  infra/.env.example
  infra/server/package-lock.json
  infra/server/src/connection-manager.ts
  infra/server/src/security-config.ts
  infra/server/src/server.ts
  infra/web/package-lock.json
  infra/web/src/app.ts
Due: semgrep-security

ci: run OpenTelemetry in E2E (Jaeger) + verify traces collected
  .github/workflows/playwright-tests.yml
Due: check-workflow-syntax, check-npm-cache-config

feat: hash routing (P-006) + hard-fail OTel E2E assertion (P-007)
  .github/workflows/playwright-tests.yml
  CHANGELOG.md
  SPECIFICATION.md
  docs/ontology/generate.py
  docs/ontology/project.ontology.ttl
  infra/web/src/app.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
Due: bandit-with-install, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security

fix: connection create/delete crash, settings save, chat panel clipping
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  infra/surrealdb/schema/001_init.surql
  infra/web/src/auth-ui.ts
  infra/web/src/styles/main.css
Due: semgrep-security

docs: changelog for connection/settings/chat/secrets fixes (6ea63d9)
  CHANGELOG.md
Due: cspell-with-install

refactor: novice onboarding pass — plain-English copy and admin settings hidden from non-admins
  infra/web/src/app.ts
  infra/web/src/auth-ui.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
Due: semgrep-security

feat: require password (and TOTP when 2FA enabled) to delete an account
  infra/server/src/auth.ts
  infra/server/src/better-auth.ts
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/auth.ts
  infra/web/src/styles/main.css
Due: semgrep-security

fix: validate postMessage origin before honoring overlay commands
  infra/web/src/components/KasmVNCClient.ts
Due: semgrep-security

fix(auth): vendor surreal-better-auth to repair credential lookup + TOTP
  infra/server/package-lock.json
  infra/server/package.json
  infra/server/src/auth-db-adapter/README.md
  infra/server/src/auth-db-adapter/helpers.ts
  infra/server/src/auth-db-adapter/schema.ts
  infra/server/src/auth-db-adapter/surreal-adapter.ts
  infra/server/src/auth-db-adapter/types.ts
  infra/server/src/better-auth.ts
Due: cspell-with-install, semgrep-security

ci: least-privilege workflow permissions (OpenSSF Scorecard Token-Permissions)
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/flatpak-clipboard-bridge.yml
  .github/workflows/playwright-tests.yml
  .github/workflows/python-lint.yml
  .github/workflows/rebase-branch.yml
  .github/workflows/release-package.yml
  .github/workflows/rust-clipboard-bridge-release.yml
  .github/workflows/sast-opengrep.yml
Due: check-workflow-syntax, check-npm-cache-config

docs: record security-tooling posture + QR-014 in spec and ontology
  SPECIFICATION.md
  docs/ontology/project.ontology.ttl
Due: cspell-with-install

fix(auth): repair login-2FA cookie flow and lock down /mcp-config
  infra/server/src/auth-db-adapter/surreal-adapter.ts
  infra/server/src/server.ts
Due: semgrep-security

ci(renovate): ignore frozen legacy/ snapshot and rebase stale branches
  renovate.json
Due: none

chore: remove frozen legacy/ snapshot
  .github/workflows/sast-opengrep.yml
  .pre-commit-config.yaml
  legacy/clipboard-bridge-python/README.md
  legacy/clipboard-bridge-python/build.sh
  legacy/clipboard-bridge-python/clipboard-bridge-gui.py
  legacy/clipboard-bridge-python/clipboard-bridge.py
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.desktop
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.svg
  legacy/clipboard-bridge-python/org.overlaycompanion.ClipboardBridge.yml
  legacy/gtk4-proof-of-concept/ClickThroughOverlay.cs
  legacy/gtk4-proof-of-concept/Gtk4ProofOfConcept.csproj
  legacy/gtk4-proof-of-concept/SimpleProgram.cs
  legacy/patches/chore-web-only-alignment.patch
  legacy/release/containers/Dockerfile.management
  legacy/release/containers/Dockerfile.mcp-server
  legacy/release/containers/Dockerfile.unified
  legacy/release/containers/podman-compose.yml
  legacy/release/containers/scripts/healthcheck.sh
  legacy/release/containers/server/middleware/security.js
  legacy/release/containers/server/package.json
  legacy/release/containers/server/server.js
  legacy/release/containers/web/package.json
  legacy/release/containers/web/src/components/GuacamoleClient.js
  legacy/release/containers/web/src/components/MCPConfigManager.js
  legacy/release/containers/web/src/components/OverlaySystem.js
  legacy/release/containers/web/src/components/StatusMonitor.js
  legacy/release/containers/web/src/index.html
  legacy/release/containers/web/src/index.js
  legacy/release/containers/web/src/styles/main.css
  legacy/release/containers/web/webpack.config.js
  legacy/release/install.sh
  renovate.json
Due: bandit-with-install, dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

fix(build): repair web + clipboard container builds
  infra/Dockerfile.clipboard
  infra/Dockerfile.web
Due: none

fix(server): KasmVNC health check now probes reachability, not a stub API
  infra/server/src/server.ts
Due: semgrep-security

fix: KasmVNC "Test Connection" reachability + SurrealDB sign-in order
  infra/server/src/connection-manager.ts
  src/Services/SurrealStore.cs
Due: dotnet-format, semgrep-security

feat(auth): header sign-out button, auth-gated nav, GUI login/logout tests
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
  tests/playwright-csharp/LoginFlowTests.cs
Due: dotnet-format, semgrep-security

chore(deps): bump SurrealDb.Net 0.9.0 -> 1.0.0
  src/OverlayCompanion.csproj
Due: dotnet-format

ci: fix pre-commit hooks (trailing newlines, cspell words, lint)
  .cspell.json
  infra/server/src/origin.ts
  infra/server/src/server.ts
  infra/server/src/tracing.ts
  infra/server/tests/origin.test.ts
Due: semgrep-security

feat(web): de-emphasize account deletion + genericize MCP client wording
  infra/server/src/server.ts
  infra/web/src/auth-ui.ts
  infra/web/src/components/GuacamoleClient.ts
  infra/web/src/components/MCPConfigManager.ts
  infra/web/src/index.html
  infra/web/src/styles/main.css
Due: semgrep-security

feat(web): assistant close button, hide tool list, fix overlay websocket
  infra/web/src/app.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/styles/main.css
Due: semgrep-security

feat(db): migrate SurrealDB to libSQL (Turso) with optional demo seed
  .cspell.json
  infra/.env.example
  infra/Dockerfile.server
  infra/Dockerfile.web
  infra/compose.minimal.yml
  infra/compose.yml
  infra/libsql/README.md
  infra/libsql/schema/001_init.sql
  infra/server/package-lock.json
  infra/server/package.json
  infra/server/src/audio.ts
  infra/server/src/auth-db-adapter/README.md
  infra/server/src/auth-db-adapter/helpers.ts
  infra/server/src/auth-db-adapter/schema.ts
  infra/server/src/auth-db-adapter/surreal-adapter.ts
  infra/server/src/auth-db-adapter/types.ts
  infra/server/src/better-auth.ts
  infra/server/src/chat.ts
  infra/server/src/libsql-store.ts
  infra/server/src/seed.ts
  infra/server/src/server.ts
  infra/server/src/surreal-store.ts
  src/OverlayCompanion.csproj
  src/Program.cs
  src/Services/DisplayActorGate.cs
  src/Services/SurrealStore.cs
Due: dotnet-format, cspell-with-install, semgrep-security

docs: update SurrealDB references to libSQL (Turso)
  AGENTS.md
  DESIGN.md
  SPECIFICATION.md
Due: cspell-with-install

fix(db): ship libSQL schema into image and use a self-contained Kysely dialect
  infra/Dockerfile.server
  infra/Dockerfile.web
  infra/server/package-lock.json
  infra/server/package.json
  infra/server/src/better-auth.ts
  infra/server/src/libsql-dialect.ts
  infra/server/src/server.ts
Due: semgrep-security

fix(web,server): correct login/settings copy, form widths, and KasmVNC proxy
  infra/server/src/server.ts
  infra/web/src/app.ts
  infra/web/src/auth-ui.ts
  infra/web/src/styles/main.css
Due: semgrep-security

fix(server): authenticate KasmVNC health probe to avoid blacklist; wire WS cookie routing
  infra/.env.example
  infra/server/src/connection-manager.ts
  infra/server/src/security-config.ts
  infra/server/src/server.ts
Due: semgrep-security

fix(kasmvnc): trailing-slash iframe so relative assets load; single WS upgrade handler
  infra/server/src/server.ts
  infra/web/src/app.ts
Due: semgrep-security

feat(observability): export system health as OpenTelemetry spans
  infra/.env.example
  infra/server/src/server.ts
  infra/server/src/tracing.ts
Due: semgrep-security

fix(observability): treat disabled/unknown deps as notes, not span errors
  infra/server/src/tracing.ts
Due: semgrep-security

fix(kasmvnc): stop ws's /ws handler from 400-ing desktop upgrades; auto-connect
  infra/server/src/server.ts
  infra/web/src/app.ts
Due: semgrep-security

refactor(kasmvnc): harden raw WS forward per code review
  infra/server/src/server.ts
Due: semgrep-security

feat(mcp): export tool-call traces to Jaeger via OpenTelemetry .NET SDK
  src/OverlayCompanion.csproj
  src/Program.cs
  src/Services/McpTrace.cs
Due: dotnet-format, semgrep-security

feat: delegated model switching, session power management, OCR pre-commit
  .githooks/pre-commit
  infra/server/src/chat.ts
  infra/server/src/server.ts
  infra/web/src/components/ChatPanel.ts
  infra/web/src/styles/main.css
  src/MCP/Tools/SleepTools.cs
  src/Program.cs
  src/Services/InputMonitorService.cs
  src/Services/ScreenCaptureService.cs
  src/Services/SleepGate.cs
Due: dotnet-format, semgrep-security

Path conditions:
  bandit-with-install: any of: \.py$
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell-with-install: any of: \.md$
  eslint-security: any of: \.js$
  semgrep-security: any of: \.(js|ts|cs)$
