Repository RyansOpenSourceRice/overlay-companion-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit-with-install, dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

Path conditions:
  bandit-with-install: any of: \.py$
  dotnet-format: any of: \.(cs|csproj)$
  check-build-scripts-executable: any of: ^scripts/.*\.sh$
  check-workflow-syntax: any of: ^\.github/workflows/.*\.ya?ml$
  check-npm-cache-config: any of: ^\.github/workflows/.*\.ya?ml$
  cspell-with-install: any of: \.md$
  eslint-security: any of: \.js$
  semgrep-security: any of: \.(js|ts|cs)$

Remove DEPRECATION_NOTICE.md - migration complete
  DEPRECATION_NOTICE.md
  docs/IMPLEMENTATION_GUIDE.md
  dotnet-install.sh
  infra/public
Due: cspell-with-install

Fix pre-commit linting issues
  .cspell.json
  cspell.json
  dotnet-install.sh
  tests/TEST_REPORT.md
  tests/UX_UI_TESTING_GUIDE.md
  tests/test_gui_overlays.py
  tests/test_gui_stdio.py
  tests/test_gui_streamable_http.py
Due: bandit-with-install, cspell-with-install

Add RDP/VNC/KasmVNC connection management to MCP server
  COMMIT_MESSAGE.txt
  INTEGRATION_TODO.md
  SPECIFICATION.md
  docs/CONNECTION_MANAGEMENT.md
  infra/web/src/index.html
  infra/web/src/styles/main.css
  src/MCP/Tools/AddConnectionTool.cs
  src/MCP/Tools/ListConnectionsTool.cs
  src/MCP/Tools/RemoveConnectionTool.cs
  src/MCP/Tools/SetActiveConnectionTool.cs
  src/MCP/Tools/TestConnectionTool.cs
  src/Program.cs
  src/Services/ConnectionManagementService.cs
Due: dotnet-format, cspell-with-install, semgrep-security

Remove temporary commit message file
  COMMIT_MESSAGE.txt
Due: none

Fix workflow security: Add explicit permissions to workflows
  .github/workflows/flatpak-build.yml
  .github/workflows/precommit-node.yml
Due: check-workflow-syntax, check-npm-cache-config

chore(ci): add OpenSSF Scorecard workflow and README badge; enable Dependabot for actions and Rust\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  .github/dependabot.yml
  .github/workflows/scorecard.yml
  README.md
Due: check-workflow-syntax, check-npm-cache-config, cspell-with-install

ci: publish Rust MCP image under mcp-server-rust repository; adjust matrix env\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  .github/workflows/container-registry.yml
  rust-mcp/src/main.rs
Due: check-workflow-syntax, check-npm-cache-config

feat(rust-mcp): Streamable HTTP server using rmcp 0.12; expose core tools; add probe/harness and CI image; README Sheld.io prefunctional badge
  README.md
  tests/compare_servers.py
  tests/mcp_streamable_http_probe.py
Due: bandit-with-install, cspell-with-install

docs(readme): fix OpenSSF Scorecard badge to use api.scorecard.dev badge endpoint and correct viewer URL
  README.md
Due: cspell-with-install

ci(scorecard): comply with workflow restrictions by avoiding global write perms and scoping security-events:write to a separate upload job
  .github/workflows/scorecard.yml
Due: check-workflow-syntax, check-npm-cache-config

chore(pre-commit): run hooks and fix issues (formatting, spellings, secret examples redacted)
  .cspell.json
  .venv/lib64
  .venv/pyvenv.cfg
  .venv/share/man/man1/bandit.1
  docs/CONNECTION_MANAGEMENT.md
  src/Services/ConnectionManagementService.cs
  tests/compare_servers.py
  tests/mcp_streamable_http_probe.py
Due: bandit-with-install, dotnet-format, cspell-with-install, semgrep-security

docs(README): prefer Compose-based install with env-driven config; keep one-line script as optional
  README.md
  infra/.env.example
Due: cspell-with-install

docs(badges): add Vibe Coded Disclosure badge alongside Sheld.io status across docs
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  SECURITY.md
  docs/AI_AGENT_SETUP.md
  docs/CONNECTION_MANAGEMENT.md
  docs/DEVELOPMENT_SETUP.md
Due: cspell-with-install

ci(scorecard): harden workflow per Scorecard restrictions: global permissions read-all, job id-token:write only; bump action versions
  .github/workflows/scorecard.yml
Due: check-workflow-syntax, check-npm-cache-config

ci(scorecard): comply with Scorecard webapp restrictions: global read-all; job-only id-token/security-events writes; update action versions
  .github/workflows/scorecard.yml
Due: check-workflow-syntax, check-npm-cache-config

docs: add Vibe Coded Disclosure badge alongside Sheld.io status across docs (#73)
  .github/workflows/scorecard.yml
  ARCHITECTURE.md
  DEPLOYMENT.md
  README.md
  SECURITY.md
  docs/AI_AGENT_SETUP.md
  docs/CONNECTION_MANAGEMENT.md
  docs/DEVELOPMENT_SETUP.md
Due: check-workflow-syntax, check-npm-cache-config, cspell-with-install

feat(mcp): remove direct input tools from Overlay MCP (click_at, type_text); keep clipboard tools; update modes, UI hints, and tests accordingly
  rust-mcp/src/main.rs
  src/MCP/Tools/ClickAtTool.cs
  src/MCP/Tools/TypeTextTool.cs
  src/Services/ModeManager.cs
  src/UI/Gtk4MainWindow.cs
  tests/compare_servers.py
  tests/test_gui_overlays.py
  tests/test_gui_streamable_http.py
Due: bandit-with-install, dotnet-format, semgrep-security

feat(infra): wire jose JWT dep; finalize proxy tweaks\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/server/package.json
Due: none

docs(badges): sweep md for Sheld.io Prefunctional + Vibe‑Coded badges\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  .github/PR_SUMMARY_CI_TRIVY.md
  .github/pull_request_template.md
  .github/workflows/cold-storage/README.md
  CREDENTIAL_ANALYSIS.md
  INTEGRATION_TODO.md
  ROADMAP.md
  SETUP_TROUBLESHOOTING.md
  docs/CLIPBOARD_BRIDGE.md
  docs/GEARLEVER_INTEGRATION.md
  docs/GITHUB_CONTAINER_REGISTRY.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/MULTI_MONITOR_SETUP.md
  docs/OPEN_SOURCE_LICENSES.md
  flatpak/clipboard-bridge/README.md
  infra/VM_SETUP.md
  infra/control-mcp.README.md
  rust-mcp/src/main.rs
  tests/COMPREHENSIVE_TEST_REPORT.md
  tests/GUI_TEST_REPORT.md
  tests/TESTING_SUMMARY_FOR_USER.md
  tests/TEST_REPORT.md
  tests/UX_UI_TESTING_GUIDE.md
  tests/VM_TESTING_RESEARCH.md
  tests/ai-gui/README.md
Due: cspell-with-install

spec(audit): add SIEM-ready audit logging section; document Wash, OTLP, and env configuration\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  SPECIFICATION.md
Due: cspell-with-install

test(parity): support Streamable HTTP Accept; start rust server in harness\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  tests/compare_servers.py
Due: bandit-with-install

docs(badges): ensure Sheld.io Prefunctional + Vibe‑Coded across docs; add OpenSSF Scorecard to spec
  SPECIFICATION.md
  tests/compare_servers.py
Due: bandit-with-install, cspell-with-install

feat(mcp): remove direct input tools from Overlay MCP; keep overlays/screenshots/clipboard; update docs/tests (#74)
  rust-mcp/src/main.rs
  src/MCP/Tools/ClickAtTool.cs
  src/MCP/Tools/TypeTextTool.cs
  src/Services/ModeManager.cs
  src/UI/Gtk4MainWindow.cs
  tests/compare_servers.py
  tests/test_gui_overlays.py
  tests/test_gui_streamable_http.py
Due: bandit-with-install, dotnet-format, semgrep-security

docs: badge sweep + test parity session handling; prep for Rust MCP parity (#75)
  .github/PR_SUMMARY_CI_TRIVY.md
  .github/pull_request_template.md
  .github/workflows/cold-storage/README.md
  .github/workflows/rebase-branch.yml
  ARCHITECTURE.md
  CREDENTIAL_ANALYSIS.md
  INTEGRATION_TODO.md
  ROADMAP.md
  SETUP_TROUBLESHOOTING.md
  SPECIFICATION.md
  docs/CLIPBOARD_BRIDGE.md
  docs/GEARLEVER_INTEGRATION.md
  docs/GITHUB_CONTAINER_REGISTRY.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/MULTI_MONITOR_SETUP.md
  docs/OPEN_SOURCE_LICENSES.md
  flatpak/clipboard-bridge/README.md
  infra/.env.example
  infra/Caddyfile
  infra/README.md
  infra/VM_SETUP.md
  infra/compose.yml
  infra/control-mcp.README.md
  infra/server/package.json
  infra/server/server.js
  rust-mcp/src/main.rs
  tests/COMPREHENSIVE_TEST_REPORT.md
  tests/GUI_TEST_REPORT.md
  tests/README.md
  tests/TESTING_SUMMARY_FOR_USER.md
  tests/TEST_REPORT.md
  tests/UX_UI_TESTING_GUIDE.md
  tests/VM_TESTING_RESEARCH.md
  tests/ai-gui/README.md
  tests/compare_servers.py
Due: bandit-with-install, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

chore(rebase): resolve conflicts preferring upstream (theirs) [step 4]
  infra/control-mcp.README.md
  infra/server/server.js
Due: cspell-with-install, eslint-security, semgrep-security

chore(rebase): resolve conflicts preferring upstream (theirs) [step 5]
  ARCHITECTURE.md
  SPECIFICATION.md
  infra/server/server.js
  tests/compare_servers.py
Due: bandit-with-install, cspell-with-install, eslint-security, semgrep-security

chore(rebase): resolve conflicts preferring upstream (theirs) [step 2]
  .github/workflows/scorecard.yml
Due: check-workflow-syntax, check-npm-cache-config

chore(rebase): resolve conflicts preferring upstream (theirs) [step 1]
  ARCHITECTURE.md
Due: cspell-with-install

chore(rebase): resolve conflicts preferring upstream (theirs) [step 3]
  tests/compare_servers.py
Due: bandit-with-install

docs: annotate example credentials; add pre-merge sanity workflow; ignore .venv and remove from repo
  .cspell.json
  .github/workflows/pre-merge-sanity.yml
  .gitignore
  .pre-commit-config.yaml
  docs/CONNECTION_MANAGEMENT.md
  infra/.env.example
  infra/README.md
  infra/compose.yml
  infra/server/server.js
  src/Services/ConnectionManagementService.cs
  tests/compare_servers.py
  tests/mcp_streamable_http_probe.py
  tests/test_gui_streamable_http.py
Due: bandit-with-install, dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

docs(badges): sweep md for Sheld.io Prefunctional + Vibe‑Coded badges\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  infra/control-mcp.README.md
Due: cspell-with-install

infra(server): add authLimiter and apply before authMiddleware for /mcp; keep mcpLimiter; address CodeQL rate limiting finding
  infra/server/server.js
Due: eslint-security, semgrep-security

OIDC proxy + compose stack; rebased on main after #74 (#77)
  .cspell.json
  .github/workflows/pre-merge-sanity.yml
  .gitignore
  .pre-commit-config.yaml
  docs/CONNECTION_MANAGEMENT.md
  infra/.env.example
  infra/README.md
  infra/compose.yml
  infra/server/server.js
  src/Services/ConnectionManagementService.cs
  tests/compare_servers.py
  tests/mcp_streamable_http_probe.py
  tests/test_gui_streamable_http.py
Due: bandit-with-install, dotnet-format, check-workflow-syntax, check-npm-cache-config, cspell-with-install, eslint-security, semgrep-security

chore(deps): roll up Dependabot updates (rust-mcp crates and GitHub Actions) (#78)
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/container-registry.yml
  .github/workflows/csharp-lint.yml
  .github/workflows/dependency-review.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/flatpak-clipboard-bridge.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/merge-ready.yml
  .github/workflows/precommit-node.yml
  .github/workflows/python-lint.yml
  .github/workflows/release-package.yml
  .github/workflows/scorecard.yml
  rust-mcp/Cargo.lock
  rust-mcp/Cargo.toml
Due: check-workflow-syntax, check-npm-cache-config

CI: fix flatpak build-bundle refspec\n\nUse 'master' branch ref for build-bundle instead of --runtime (runtime refs are separate).\n\nCo-authored-by: openhands <openhands@all-hands.dev>
  .github/workflows/flatpak-clipboard-bridge.yml
Due: check-workflow-syntax, check-npm-cache-config

Replace Flatpak Clipboard Bridge with Rust implementation + automated release tooling (#79)
  .github/workflows/flatpak-clipboard-bridge.yml
  .github/workflows/rust-clipboard-bridge-release.yml
  .gitignore
  docs/CLIPBOARD_BRIDGE.md
  flatpak/clipboard-bridge/README.md
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.desktop
  flatpak/clipboard-bridge/org.overlaycompanion.ClipboardBridge.yml
  rust-clipboard-bridge/Cargo.toml
  rust-clipboard-bridge/src/main.rs
  scripts/release-rust-clipboard-bridge.sh
  src/Program.cs
Due: dotnet-format, check-build-scripts-executable, check-workflow-syntax, check-npm-cache-config, cspell-with-install, semgrep-security
